* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #363830;
}

body {
  height: 100vh;
  background-image: linear-gradient(122.62deg, #c8cccf 5.59%, #97a3a3 84.01%);
}

h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 104px;
  margin-bottom: 16px;
}

.p-1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 16px;
}

button {
  background-color: #363830;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.first {
  padding-left: 315px;
  padding-top: 40px;
  width: 975px;
}

.first-wrapper {
  position: relative;
}

.img-1 {
  position: absolute;
  top: -40px;
  left: 900px;
  width: 480px;
  height: 450px;
  margin-right: 60px;
  z-index: -1;
  object-fit: cover;
}

.second {
  background-image: linear-gradient(
    95.95deg,
    rgba(255, 255, 255, 0.3) 6.59%,
    rgba(255, 255, 255, 0.18) 96.07%
  );
  backdrop-filter: blur(24px);
  border-radius: 144px;
  width: 1100px;
  margin-top: 130px;
  margin-left: 360px;
  padding: 40px 88px;
}

.box {
  display: inline-block;
  width: 21%;
}

.number {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 16px;
}

.line {
  width: 38px;
  height: 4px;
  margin-bottom: 16px;
  background-color: #363830;
}

.p-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.box:not(:first-child) {
  margin-left: 150px;
}

.second-wrapper {
  position: relative;
}

.img-2 {
  position: absolute;
  left: 100px;
  bottom: -40px;
  width: 360px;
  height: 400px;
  z-index: -1;
  object-fit: cover;
}
