* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #2f2f2f;
}

body {
  margin: 40px;
}
body {
  margin: 40px;
}

/* clearfix so floated children are contained */
body::after {
  content: "";
  display: table;
  clear: both;
}

.heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
}

.design {
  color: #fec3c7;
}

.create {
  color: #9ad7f3;
}

.inspire {
  color: #6bdfda;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;
}

button {
  background-color: #ffffff;
  color: #232323;
  padding: 24px 48px;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.container {
  float: left;
  margin-top: 140px;
  margin-left: 130px;
  width: 440px;
}

.img-container {
  float: right;
  width: 700px;
  margin-top: 20px;
}

img {
  width: 140px;
  height: 150px;
  border-radius: 40px;
  display: block;
  float: left;
}

img:not(:nth-child(4n)) {
  margin-right: 14px;
}

img:nth-child(-n + 12) {
  margin-bottom: 8px;
}
