* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #252525;
}

body {
  background-color: #f2f2f2;
  margin: 64px;
}

.first {
  text-align: center;
  width: 730px;
  margin: auto;
}

h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 84px;
  margin-bottom: 24px;
}

.p-1 {
  font-weight: 400;
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 24px;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-bottom: 200px;
}

.second {
  background-color: #ffffff;
  border-radius: 48px;
  width: 1060px;
  position: absolute;
  left: 230px;
  top: 480px;
  padding: 40px 64px;
}

.titles-wrapper {
  text-align: center;
}

.box {
  display: inline-block;
  width: 21%;
  text-align: left;
}

.title {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 12px;
}

.line {
  width: 66px;
  height: 4px;
  margin-bottom: 12px;
  background-color: #252525;
}

.p-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  opacity: 0.7;
}

.box:not(:first-child) {
  margin-left: 40px;
}

.img-wrapper {
  width: 1312px;
  height: 526px;
  margin: auto;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 40px;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondary-img {
  width: 411px;
  height: 344px;
  border-radius: 32px;
  object-fit: cover;
}

.secondary-img:not(:last-child) {
  margin-right: 40px;
}

.secondary-wrapper {
  width: 1322px;
  margin: auto;
}
