* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #252525;
}

body {
  margin: 40px;
}

h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 80px;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 24px;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.left {
  width: 460px;
}

.table-img {
  width: 400px;
  height: 480px;
  border-radius: 16px;
}

tr {
  height: 600px;
}

.img-1 {
  vertical-align: top;
}

.img-1 img {
  margin-left: 55px;
  margin-right: 125px;
}

.img-2 {
  vertical-align: bottom;
}

.number {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  opacity: 0.25;
  margin-bottom: 4px;
}

.section-1 {
  margin-bottom: 70px;
}

.section-2 img {
  width: 100%;
  height: 345px;
  border-radius: 16px;
}

.box {
  display: inline-block;
  width: 423px;
}

.box:not(:last-of-type) {
  margin-right: 80px;
}
