* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #252525;
}

.container {
  background-color: #f2f2f2;
  height: 813px;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 94px;
  margin-bottom: 20px;
}

.p-1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.left {
  width: 484px;
  height: 426px;
  margin-left: 131px;
  padding-top: 181px;
  display: inline-block;
}

.salad-img {
  float: right;
  width: 800px;
  height: 791px;
  object-fit: cover;
  margin-top: 20px;
}

.rounded-image {
  width: 200px;
  height: 369px;
  border-radius: 144px;
  object-fit: cover;
}

.img-container {
  margin-left: 130px;
  margin-top: -130px;
  display: inline-block;
}

.rounded-image:not(:last-child) {
  margin-right: 30px;
}

.line {
  width: 52px;
  height: 6px;
  background-color: #252525;
  margin-bottom: 16px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.p-2 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 16px;
}

.mini-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.mini-img:not(:last-child) {
  margin-right: 21px;
}

.bottom-container {
  width: 501px;
  height: 237px;
  margin-top: 17px;
  margin-left: 110px;
  display: inline-block;
}

.img-container,
.bottom-container {
  margin-bottom: 86px;
}
