* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #252525;
}

body {
  width: 1313px;
  margin: auto;
}

.table-content {
  width: 100%;
  margin-top: 122px;
  margin-bottom: 88px;
}

.left {
  width: 526px;
}

.right,
.left {
  vertical-align: top;
}

h1 {
  font-size: 88px;
  font-weight: 800;
  line-height: 80px;
}

p {
  font-size: 26px;
  font-weight: 400;
  line-height: 100%;
  opacity: 0.8;
  margin-bottom: 16px;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 18px 48px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}
