* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 64px 64px 0 64px;
  background-image: linear-gradient(295.04deg, #9c2004 5.77%, #ab2706 97.94%);
}

h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 104px;
  margin-bottom: 40px;
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

button {
  padding: 32px 56px;
  border-radius: 36px;
  border: none;
  background-color: #e5b94b;
  color: black;
  font-weight: 500;
  font-size: 32px;
  line-height: 18px;
  cursor: pointer;
}

.container {
  border-collapse: collapse;
}

.text {
  margin-left: 300px;
}

.img-wrap::before {
  content: "";
  position: absolute;
  width: 475px;
  height: 475px;
  top: 10%;
  background-color: #e5b94b;
  backdrop-filter: blur(24px);
  border-radius: 50%;
}

.img-wrap {
  position: relative;
}

img {
  position: relative;
  width: 443px;
  vertical-align: bottom;
}
