* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 64px 64px 0 64px;
  background-image: linear-gradient(295.04deg, #9c2004 5.77%, #ab2706 97.94%);
}

h1 {
  font-weight: 700;
  font-size: 78px;
  line-height: 94px;
  margin-bottom: 40px;
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

button {
  padding: 32px 56px;
  border-radius: 36px;
  border: none;
  background-color: #e5b94b;
  color: black;
  font-weight: 500;
  font-size: 32px;
  line-height: 18px;
  cursor: pointer;
}

.container {
  border-collapse: collapse;
}

.text {
  width: 550px;
  margin-left: 300px;
}

.img-wrap::before {
  content: "";
  position: absolute;
  width: 475px;
  height: 475px;
  top: 10%;
  background-color: #e5b94b;
  backdrop-filter: blur(24px);
  border-radius: 50%;
  z-index: 1;
}

.img-wrap {
  position: relative;
}

img {
  position: relative;
  width: 443px;
  vertical-align: bottom;
  z-index: 3;
}

.dots-box {
  --dot-size: 3px;
  --gap: 18px;
  width: calc(10 * var(--gap));
  height: calc(10 * var(--gap));
  background-image: radial-gradient(
    circle,
    #fff var(--dot-size),
    transparent var(--dot-size)
  );
  background-size: var(--gap) var(--gap);
  background-position: 0 0;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

.dots-box:first-child {
  top: 30px;
}

.dots-box:last-child {
  bottom: 40px;
  right: -50px;
}
