* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  color: #363031;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 32px;
}

.p-1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
}

button {
  background-color: #a36a4f;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 36px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.first {
  margin-left: 126px;
  padding-top: 157px;
  position: relative;
}

.img-1 {
  width: 440px;
  height: 440px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 64px;
  left: 730px;
}

.img-2 {
  width: 312px;
  height: 312px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 345px;
  left: 1010px;
}

.first-wrapper {
  width: 464px;
  height: 498px;
  display: inline-block;
}

.img-wrapper {
  display: inline-block;
  margin-bottom: 200px;
}

.analytics {
  background-color: #ecdac4;
  border-radius: 80px;
  width: 988px;
  padding: 24px 96px;
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.analytics-box {
  display: inline-block;
  width: 25%;
}

.icon-wrapper {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  opacity: 0.35;
  border-radius: 50%;
  margin: auto;
  position: relative;
  margin-bottom: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 4px;
}

.p-2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}

.analytics-box:not(:first-child) {
  margin-left: 88px;
}

.second {
  background-color: #363032;
  position: relative;
}

.img-container {
  padding: 138px 64px 64px 64px;
  margin-top: 204px;
  margin-bottom: 64px;
}

.box {
  display: inline-block;
  width: 186px;
}

.mini-img {
  width: 100%;
  height: 246px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.box:not(:last-child) {
  margin-right: 111px;
}

.caption {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
