* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
  color: #050505;
}

.container {
  margin: 64px;
}

.left {
  padding-left: 24px;
  width: 664px;
}

.top-wrapper {
  margin-bottom: 70px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 32px;
}

p {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
  color: #333333;
}

button {
  padding: 24px 48px;
  border-radius: 16px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.black-btn {
  background-color: #050505;
  color: #ffffff;
  margin-right: 32px;
}

.white-btn {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
}

.circle-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 56px;
  margin-left: -24px;
}

.bottom {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #111111;
  width: 652px;
}

.box {
  display: inline-block;
  width: 15%;
  height: 78px;
}

.box:not(:last-child) {
  margin-right: 76px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.content {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.right,
.left {
  vertical-align: top;
  display: inline-block;
}

.right {
  position: relative;
  width: 653px;
}

.main-img {
  width: 480px;
  height: 628px;
  border-radius: 51.83px;
  margin-top: 90px;
  margin-left: 210px;
}

.portal1 {
  position: absolute;
  width: 75px;
  height: 95px;
  top: 160px;
  left: 230px;
}

.portal2 {
  position: absolute;
  width: 103px;
  height: 130px;
  top: 575px;
  left: 565px;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.frame1 {
  position: absolute;
  width: 480px;
  height: 568px;
  top: 30px;
  left: 67px;
  z-index: -1;
}

.frame2 {
  position: absolute;
  width: 310px;
  height: 476px;
  top: 300px;
  left: 430px;
  z-index: -1;
}

span {
  background-color: #685fd4;
  color: #ffffff;
  padding: 16px 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  border-radius: 16px;
  position: absolute;
}

.left-span {
  font-size: 24px;
  top: 615px;
  left: 120px;
}

.right-span {
  font-size: 18px;
  top: 134px;
  right: -70px;
}
