* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #252525;
}

body {
  margin: 40px;
}

.left {
  float: left;
  width: 610px;
}

h1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 32px;
}

.left-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  opacity: 0.8;
  margin-bottom: 32px;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.right {
  float: right;
  width: 500px;
}

img {
  width: 300px;
  height: 350px;
  border-radius: 500px 500px 0 0;
}

.img-2 {
  margin-left: 200px;
  margin-top: -250px;
}

.left {
  margin-top: 40px;
}

.wrapper {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.bottom {
  display: inline-block;
  background-color: #252525;
  border-radius: 32px;
  padding: 24px 56px;
}

.box {
  display: inline-block;
  width: 30%;
}

.box:not(:last-child) {
  margin-right: 60px;
}

.icon {
  width: 24px;
  height: 16px;
  margin-bottom: 16px;
}

h2,
.content {
  color: #ffffff;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  opacity: 0.8;
  margin-bottom: 16px;
}

.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
