* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #252525;
}

body {
  margin: 40px;
}

h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  width: 750px;
}

.content {
  margin-top: 30px;
}

.number {
  font-weight: 800;
  font-size: 24px;
  opacity: 0.35;
  margin-bottom: 4px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
  opacity: 0.8;
}

img {
  width: 100%;
  height: 400px;
}

.box {
  display: inline-block;
  width: 300px;
}

.box:not(:last-of-type) {
  margin-right: 70px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 4px;
}

.img-text-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  width: 250px;
}

.img-text {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.49) 100%
  );
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding: 24px 80px 24px 24px;
}

.img-wrapper {
  position: relative;
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
}
