* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  color: white;
  border: none;
  background-color: hsl(0, 0%, 20%);
}

.buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 25px;
}

.buttons input {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  justify-self: center;
  cursor: pointer;
}

.buttons input:hover {
  background-color: hsl(0, 0%, 40%);
}

.buttons input:active {
  background-color: hsl(0, 0%, 50%);
}

.operator {
  background-color: hsl(35, 100%, 55%) !important;
}

.operator:hover {
  background-color: hsl(35, 100%, 65%) !important;
}

.operator:active {
  background-color: hsl(35, 100%, 75%) !important;
}
