* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #252525;
}

body {
  margin: 40px;
}

h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 64px;
  width: 550px;
}

.content {
  margin-top: 30px;
}

.number {
  font-weight: 800;
  font-size: 24px;
  opacity: 0.55;
  margin-bottom: 4px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
  opacity: 0.8;
}

img {
  width: 100%;
  height: 345px;
}

.box {
  display: inline-block;
  width: 423px;
}

.box:not(:last-of-type) {
  margin-right: 80px;
}
